.footer{
  // background-color: red;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  p{
    font-size: 16px;
  }

  h4{
    color: var(--accentColor);
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
  }
}