@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
.home-hero {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 50px 0px;
  @include tablet {
    grid-template-columns: 1fr;
  }

  .details,
  .about,
  .projects {
  }

  .details {
    min-height: 70vh;
    width: 80%;
    margin: auto;
    @include tablet {
      min-height: 60vh;
      width: 90%;
      margin: 0px auto;
    }
    .greetings {
      margin-top: 20px;
      font-size: 20px;
      font-weight: normal;
      color: var(--lightColor);
    }

    .name {
      font-size: 60px;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-left: 0px;
      color: var(--accentColor);

      @include tablet {
        font-size: var(--largeSizeTablet);
      }
      @include phone {
        font-size: 30px;
        margin-top: 10px;
      }
    }

    .subtitle {
      font-size: 40px;
      color: var(--darkGray);

      @include phone {
        font-size: var(--largeSizePhone);
      }
    }
    h5 {
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 20px;
      @include phone {
        font-size: 16pxpx;
        // text-align: center;
      }
    }

    .description {
      color: #818181;
      max-width: 800px;
      line-height: 30px;
      font-size: 17px;
      font-weight: normal;
    }
    .download-resume-btn {
      display: inline-block;
      margin-top: 20px;
      border: 2px solid var(--accentColor);
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      height: 50px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
}

/*
=====================
ABOUT SECTION START
=====================
*/
.about {
  min-height: 60vh;
  width: 80%;
  margin: auto;
  padding: 20px 0px 50px 0px;
  @include tablet {
    min-height: 60vh;
    width: 90%;
    margin: 0px auto;
  }

  .about-content {
    display: flex;

    align-items: center;
    @include tablet {
      flex-direction: column;
      margin-top: 20px;
      align-items: flex-start;
    }
    .about-description {
      @include phone{
        max-width: 90%;
      }
      p {
        font-size: 15px;
        text-align: justify;
        margin: 10px 0px 15px;
        line-height: 20px;
        max-width: 600px;

        @include phone{
          font-size: 13px;
        }
      }

      .languages {
        display: grid;
        grid-template-columns: 200px 200px;

        h3 {
          font-size: 15px;
          font-weight: normal;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          letter-spacing: 0.9px;

          .icon {
            width: 6px;
            height: 6px;
            display: inline-block;
            border: 2px solid var(--accentColor);
            background-color: var(--lightColor);
            border-top-left-radius: 100px;
            transform: rotate(-45deg);
            margin-right: 10px;
          }
        }
      }
    }

    .about-image {
      width: 340px;
      height: 300px;
      position: relative;
      margin: 0px 0px 0px 30px;
      
      @include tablet {
        margin: 20px 0px 30px 0px;
      }
      &::before{
        content: '';
        transition: all 0.3s ease;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 3;
        background-color: rgba(38, 43, 41, 0.493);
        // opacity: .6;
        // mix-blend-mode: screen;
      }
      &:hover{
        &::before{
          background-color: transparent;
        }
        img{
          transform: scale(1.1);
        }
      }

      img {
        width: 340px;
        height: 300px;
        // opacity: 0.4;
        transition: all 0.3s ease;
        position: relative;

        

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
/*
=====================
ABOUT SECTION END
=====================
*/



/*
=====================
Services SECTION START
=====================
*/
.services {
  min-height: 60vh;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  padding: 20px 0px 50px 0px;
  @include tablet {
    min-height: 60vh;
    width: 90%;
    margin: 0px auto;
  }
}
/*
=====================
SERVICES SECTION END
=====================
*/