@mixin phone {
    @media (max-width: 600px) {
      @content;
    }
  }

.title{
    font-size: 2rem;
    color: #000;
    position: relative;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    
    h3{
        text-transform: capitalize;
        display: flex;
        align-items: center;
        hr{
            width: 200px;
            height: 1px;
            border-color: rgba(238, 238, 238, .3);
@include phone(){
    width: 100px;
}
        }
    }

    .index{
        color: var(--accentColor);
        font-weight: normal;
        font-size: 20px;
        font-family:  sans-serif;
    }

    .title-c{
        margin: 0px 10px;
        color: #fff;
    }
}